{
  "printWidth": 120,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": false,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
